/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: grey;
  
  margin-top: 30px;
}

.bodyfilm{
  margin-top: 70px;
}

/* Carousel Styles */
.carousel-caption {
  position:static;
}

.list-container {
 
 
  gap: 16px;
  padding: 16px;
}

.film-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: rgb(80, 79, 79);
}

.film-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  
}

.film-title
{
  padding: 8px;
  text-align: center;
  color : rgb(255, 234, 0)
}

.film-details{
  padding: 8px;
  text-align: center;
}
.film-description {
  padding: 8px;
  text-align: center;
}

/* Trending, Action, Adventure Movies Styles */
.text {
  font-size: 1.5rem;
  margin-top: 24px;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

/* Buttons Styles */
.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #fff;
}

/* Hover Effect for Film Cards */
.film-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .list-container {
    flex-direction: column;
    align-items: center;
  }
}
