<body class="bg-light">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12">
        <h2>Your favorite films </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4" *ngFor="let movie of favoritedMovieDetailsList">
        <div class="card mb-3">
          <img [src]="getUrl(movie.poster_path)" class="card-img-top" alt="{{ movie.original_title }}">
          <div class="card-body">
            <h5 class="card-title">{{ movie.original_title }}</h5>

            
            
            
           
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
